/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*------------------------
        CSS commun
--------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,450,500,600,700,800,900|Source+Sans+Pro:400,600,700&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 768px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 1.9em;
    letter-spacing: -.5px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 1.1em;
    letter-spacing: -.5px;
    margin: 25px auto;
}

h4 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 1.1em;
    letter-spacing: -.9px;
    /* margin: 10px; */
}

h5 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.3em;
    letter-spacing: -1px;
}

h6 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.35em;
    letter-spacing: -2px;
}

p{
    font-family: 'Source Sans Pro'; 
    font-size: 1.1em;
}

button {
    background: #6fd8d3;
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 500;
    cursor: pointer;
}

.button-square {
    background: #6fd8d3;
    width: 65px;
    height: 65px;
    font-size: 2.2em;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
}

.button-poubelle {
    background: none;
    border: none;
    width: auto;
    z-index: 3;
}

.button-modal {
    background: none;
    border: none;
    width: auto;
    margin-left: 30px;
    
}

.lecon-module {
    position: relative;
    top: 10px;
}

/*------------------------
        custom checkbox sur le site
--------------------------*/

/* input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid grey;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}
input[type='checkbox']:checked {
    background-color: #34495E;
}

input[type='checkbox']:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    /* box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white; */
    /* transform: rotate(45deg); */
/* } */ 
/*------------------------
        header
--------------------------*/
header {
    width: 100%;
    height: 80px;
    padding: 50px 35px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 50;
}

header ul li{
    list-style-type: none;
    display: inline;
    position: relative;
    font-size: .9em;
    font-family: 'Montserrat';
    font-weight: 500;
}

.logo {
    width: 120px;
}

.userInfos {
    position: relative;
}

.userInfos ul {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown-content {
    display: none;
  position: absolute;
  left: 30px;
  background-color: white;
  min-width: 200px;
  border: 1px solid lightgrey;
  padding: 12px 16px;
  z-index: 1;
  font-family: 'Source Sans Pro';
  font-size: .8em;
  font-weight: 200;
  text-align: end;
}

.userInfos:hover .dropdown-content{
    display: block
}

.toggle {
    padding-top: 5px;
    margin-left: 30px;
}

.photoDeProfil img{
    border-radius: 50%;
}

/*------------------------
       Entete Administrateur et Teacher 
--------------------------*/
.entete {
    padding: 0 35px;
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px 0;
}

/*------------------------
       carte apercu
--------------------------*/
.carte {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 230px;
    height: 230px;
    padding: 10px;
    background: #eee;
    box-shadow: 25px;

}

.carte h6 {
    font-size: 1.42em;
    font-weight: 700;
}


/*------------------------
       carte cours
--------------------------*/

.carte-cours {
    width: 500px;
    background: white;
}

.carte-cours img {
    width: 480px;
    margin-bottom: 18px;
}

/*------------------------
       dropdown cours
--------------------------*/

/*------------------------
       quiz item
--------------------------*/
.quiz-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee; 
    height: 50px;
    padding: 0 25px;
}

.quiz-item img {
    display: none;
}

.quiz-item:hover img {
    display: block;
}

/*------------------------
       listing utilisateurs
--------------------------*/

.list-users h4{
    text-transform: uppercase;
    height: 70px;
    background: #B8C5D0;
    font-family: 'Montserrat';
    padding: 25px 60px;
}

.list-user-card {
    display: flex;
    height: 100px;
    background: #eee;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px 10px;
}

.list-user-card input,
.list-user-card .img,
.list-user-card label {
    margin-right: 35px;
    
}

.list-user-card .img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #B8C5D0;
}

.list-user-card label{
    font-family: 'Source Sans Pro';
    font-size: 1.2em;
    word-spacing: 5px;
    font-weight: 600;
}

.list-user-card label span {
    text-transform: uppercase;
}

/*------------------------
       barre de navigation
--------------------------*/
.navigation-tab > input,
.navigation-tab section > div {
    display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3,
#tab4:checked ~ section .tab4,
#tab5:checked ~ section .tab5{
    display: block;
}

.navigation-tab nav {
    height: 55px;
    background: #eee;  
    padding-left: 35px; 
}

.navigation-tab nav ul{
    display: flex;
    height: 100%;
    align-items: center;
    list-style-type: none;
}
.navigation-tab nav ul li{
    display: flex;
    align-items: center;
    height: 100%;
    width: 150px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: .98em;
    justify-content: center;
}


#tab1:checked ~ nav ul > .tab1,
#tab2:checked ~ nav ul > .tab2,
#tab3:checked ~ nav ul > .tab3,
#tab4:checked ~ nav ul > .tab4,
#tab5:checked ~ nav ul > .tab5 {
    border-bottom: 3px solid black;
}

/*------------------------
       formulaire creation cours
--------------------------*/
.info-gnr {
    display: grid;
    width: calc(100% - 60px);
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.info-gnr select {
    border: none;
    background: transparent;
    border: 1.45px solid rgba(51, 44, 44, 0.411);
    font-family: 'Source Sans Pro';
    font-size: 1.1em;
    padding-left: 10px;
}

.info-gnr label {
    padding-left: 10px;
    font-size: .8em;
    
}

.info-gnr > input,
.categorie,
.cout,
.etiquette,
.auteur,
.prix {
    width: 100%;
    border: 1.45px solid rgba(51, 44, 44, 0.411);
    height: 60px;
    font-size: 1em;
}

.etiquette input,
.auteur select,
.prix input {
    height: 100%;
    border: none;
}

.etiquette,
.auteur,
.prix {
    display: flex;
    flex-direction: column;
    justify-content: space space-between;
}

::placeholder {
    font-size: 1.2em;
    font-family: 'Source Sans Pro';
    color: rgba(51, 44, 44, 0.411);
    padding-left: 10px;
}

.info-gnr h2,
.info-gnr #titre {
    grid-column: span 4;
    margin: 0;
    font-size: 1.2em;
}

#categorie,
#cout,
.etiquette {
    grid-column: span 2;
}

.auteur {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 270px;
}

.content div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-cover {
    height: auto;
    margin: 30px auto;
}
.content img {
    width: 480px;
    height: auto;
}

.description p {
    width: 450px;
    margin-bottom: 10px;
}

.description > textarea {
    width: 100%;
    height: 70px;
}

.description textarea {
    width: 100%;
    font-family: 'Source Sans Pro';
    font-size: 1.1em;
    padding: 5px;
}

.inner-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

/*------------------------
       formulaire creation modules
--------------------------*/
select#course,
input#titre {
    width: 100%;
    height: 60px;
    border: none;
    background: transparent;
    border: 1.45px solid rgba(51, 44, 44, 0.411);
    font-family: 'Source Sans Pro';
    font-size: 1.2em;
    padding-left: 10px;
}

textarea#resume {
    width: 100%;
    height: 100px;
    font-family: 'Source Sans Pro';
    font-size: 1.1em;
    padding: 14px 8px;
}

select#course {
    width: 50%;
    margin-bottom: 20px;
}

.module-creation {
    display: grid;
    grid-row-gap: 20px;
}

.chevron-delete {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.module-creation button {
    width: 65px;
    height: 65px;
    font-size: 2.2em;
}

.lecon-creation {
    background: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 10px;
    padding: 30px;
}

.lecon-creation .top {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 10px;
    align-items: center;
}

.attribution {
    border: 1px solid grey;
    height: 100%;
}

.top .attribution label {
    text-transform:  lowercase;
    font-size: .8em;
    font-weight: 100;
    padding: 3px 0 0 3px;
}

.attribution select {
    border: none;
    width: 100%;
    height: 65%;
    font-weight: 300;
    background: none;
    font-family: 'Source Sans Pro';
    font-size: 1.1em;
}

.lecon-creation > img {
    width: 480px;
    height: 270px;
}

.add-image-module {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.add-image-module button {
        background: #6fd8d3;
        width: 150px;
        height: 50px;
        border: none;
        color: white;
        font-size: 1em;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: bold;
}

/*------------------------
       formulaire creation quiz
--------------------------*/

.quiz .det {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 65px;
    grid-column-gap: 20px;
}



.det ::placeholder {
    font-size: 1.6em;
}

.type-quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.5px solid #eee;
    padding: 5px;
}

.type-quiz select {
    height: 100%;
    border: none;
    background: none;
    font-size: 1.1em;
}

.form-quiz-left button {
    width: 65px;
    height: 65px;
    font-size: 2.2em;
}

.tab-quiz {
    background: #eee;
    padding: 15px 70px;
    margin-bottom: 2px;
}

.tab-quiz .up {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.up img {
    position: relative;
    left: 20px;
}

.tab-quiz > input {
    height: 60px;
    font-size: 1.2em;
    font-family: 'Source Sans Pro';
    width: 70%;
    margin-right: 0px;
}

.tab-quiz select {
    height: 60px;
    width: 250px;
    border: 1px solid black;
    background: none;
    font-size: 1.2em;
    padding: 15px;
}

.type-question {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.type-question select {
    width: 320px;
}

.type-question input {
    height: 60px;
    font-size: 1.2em;
}

.add-question {
    display: flex;
    color: white;
    align-items: center;
    height: 65px;
    margin: 20px 0;
}

.add-question button {
    background: rgb(1, 1, 27);
}

.add-question h2 {
    background: rgba(110, 109, 109, 0.473);
    height: 100%;
    margin: 0;
    padding: 25px 15px;
}

.tab-question {
    background: white;
}

.tab-question label {
    font-size: 1.3em;
}

.bloc-question {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
}

.bloc-question textarea {
    width: 80%;
    height: 90px;
    font-size: 1.2em;
    font-family: 'Source Sans Pro';
    margin-bottom: 15px;
}

.add-choix {
    display: flex;   
}

.add-choix button {
    position: relative;
    top: -13px;
    margin-right: 4px;
}

.bloc-choix{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    margin: 15px 0;
}

.bloc-choix input,
.bloc-reponse input,
.score input{
    height: 60px;
    font-size: 1.2em;
    padding: 15px;
}

.bloc-reponse {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-column-gap: 10px;
    align-items: center;
}

.bloc-reponse p {
    grid-column: 2 / 3;
    grid-row: 2;
}

.score {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
}

/*------------------------
       formulaire creation utilisateur
--------------------------*/

.form-create-user-left {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    align-items: center;
    font-size: 1.1em;
}

.form-create-user-left h2 {
    grid-column: span 2;
}

.form-create-user-left input,
.form-create-user-left select {
    height: 60px;
    border: 1.3px solid lightgrey;
    background: none;
    font-size: 1.1em;
}

.form-create-user-left .valid {
    display: flex;
    align-items: center;
}

/*------------------------
       admin searchbox
--------------------------*/
.searchbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
}

.searchbox input{
    height: 40px;
    width: 30%;
    background: #eee;
    border: none;
}

.searchbox .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

/*------------------------
 teacher form module edit
--------------------------*/
.bloc-selection-cours {
    display: grid;
    width: 100% - 20px;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr 1fr;

}
.bloc-selection-cours select {
    height: 60px;
    border: 1.3px solid lightgrey;
    background: none;
    font-size: 1.07em;
    padding-left: 5px;
    width: 100%;
    font-family: 'Source Sans Pro';
}

.bloc-edition-lecon {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-row-gap: 25px;
}

.bloc-edition-lecon .image-top {
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.bloc-edition-lecon .image-top button {
    align-self: flex-end;
}
.bloc-edition-lecon .image-top img{
    width: 480px;
    grid-row: span 2;
}

#resume-teacher {
    width: 100%;
    height: 100px;
    font-family: 'Source Sans Pro';
    font-size: 1.1em;
    padding: 14px 8px;
}

.boutons-speciaux{
    display: flex;

}
.boutons-speciaux button {
    margin-right: 15px;
    height: 60px;
    border: 1.5px solid lightgrey;
    background: none;
    font-size: .75em;
    text-transform: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*------------------------
 student course card
--------------------------*/
.student-course-card{
    display: flex;
    background: #eee;
    margin-bottom: 25px;
}
.student-course-card img{
    height: 160px; 
    margin-right: 20px;
}

.student-course-card .texte{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.student-course-card .texte h2 {
    margin: 25px 0;
}

.student-course-card .texte button {
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 15px;
}

/*------------------------
 student profil card
--------------------------*/
.student-profile-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: #eee;
    height: 230px;
}

.student-profile-card img {
    border-radius: 50%;
}

/*------------------------
 student course infos
--------------------------*/
.student-course-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 70px;
    height: 450px;
}

.student-course-infos .titre{
    grid-column: span 2;
    display: grid;
}

.details-formation ul{
    display: grid;
    grid-row-gap: 10px;
    height: 200px;
    margin-left: 20px;
    margin-top: 10px;
}



/*------------------------
 student formateur infos
--------------------------*/
.bloc-infos {
    display: flex;
}
.bloc-infos img{
    width: 100px;
    height: 100px;
    background: #eee;
    border-radius: 50%;
    margin-right: 15px;
}

/*------------------------
 student quiz rendu box
--------------------------*/
.quiz-rendu-box {
    height: 400px;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.quiz-rendu-box button {
    align-self: center;
}

/*------------------------
 student fleches lecon
--------------------------*/

.fleches-lecon {
    display: flex;
    justify-content: space-between;
}

.fleche-precedent,
.fleche-suivant {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.fleches-lecon button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.fleche-suivant button {
    background: #eee;
    color: black;
}

/*------------------------
 bloc demarrage
--------------------------*/
.bloc-demarrage {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 85%;
}

.bloc-demarrage h1 {
    text-transform: none;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.2em;
    text-align: center;
    line-height: 1.2em;
}

.bloc-demarrage p {
    text-align: center;
    font-size: 1.2em;
}
/*------------------------
 bloc login
--------------------------*/
.bloc-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.bloc-login h1 {
    text-transform: none;
    text-transform: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2.3em;
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 25px;
}

.bloc-login form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 320px;
}

.bloc-login form input{
    height: 55px;
    border: 1px solid lightgrey;
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 15px;
}

.bloc-login form button{
    width: 100%;
    margin: -15px 0 15px 0;
    height: 60px;
}

.bloc-login a {
    text-decoration: underline;
}

.check label{
    position: relative;
    top: -24px;
    left: 5px;
    font-size: .7em;
}
/*------------------------
 bloc signup
--------------------------*/
.bloc-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc-signup form {
    display: flex;
    flex-direction: column;
}
/*------------------------
 bloc demo
--------------------------*/
.bloc-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*------------------------
 bloc forget password
--------------------------*/
.bloc-forget-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*------------------------
 bloc nouveau pass
--------------------------*/

.bloc-nouveau-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------------
 menu accordion with checkbox
--------------------------*/

.accordion-container {
    text-align: left;
    margin: 10px auto 15px auto;
    position: relative;
  }
  .accordion-container input[type=checkbox]{
    background-color: transparent;
    border: 1px solid transparent;
    height: 1px;
    position: absolute;
    width: 1px;
    margin: 4px 0 0 0;
    outline: none;
  }
  .accordion-container input[type=checkbox] + label{
      background: #EEEEEE;
      border-bottom: 1px solid #fff;
      color: #333;
      cursor: pointer;
      font-size: 26px;
      font-weight: 800;
      line-height: 32px;
      padding: 10px 85px;
      position: relative;
      z-index: 2;
  }


  
  .accordion-container input[type=checkbox] + label:hover{ background: #D6D6D6; }
  .accordion-container input[type=checkbox]:checked + label{ background: #EEEEEE; }
  .accordion-container input[type=checkbox]:focus + label{ background: #BEBEBE; }
  .accordion-container input[type=checkbox]:checked + label:hover{ background: #D6D6D6; }
  .accordion-container input[type=checkbox]:checked + label:after{transform: rotate(90deg);}
  
  .accordion-container label {
      display: flex;
      justify-content: space-between;
      font-family: 'Montserrat';
      font-weight: 900;
      
      text-transform: uppercase;
  }
  
  .accordion-content {
      margin-top: 25px;
  }
  .accordion-container input[type=checkbox] + label + .accordion-content{
    display: none;
    /* display: none; - Content is ignored by screen readers, additionally stops tabbing through hidden content */
    height: 0;
    max-height: 0;
    overflow: hidden;
    /* 0, 0, hidden; - Content is ignored by screen readers, but tab key still steps through hidden elements */
    transition: all 1.5s ease-in-out;
  }
  .accordion-container input[type=checkbox]:checked + label + .accordion-content,
  .accordion-container input[type=radio]:checked + label + .accordion-content {
    display: block;
    height: auto;
    max-height: 2000px;
    transition: all 1.5s ease-in-out;
  }

  /*------------------------
 listing module
--------------------------*/

.accordion-module-container {
    text-align: left;
    margin: 10px auto 30px auto;
    position: relative;
    width: 100%;
  }
  .accordion-module-container input[type=checkbox]{
    background-color: transparent;
    border: 1px solid transparent;
    height: 1px;
    position: absolute;
    width: 1px;
    margin: 4px 0 0 0;
    outline: none;
  }
  .accordion-module-container input[type=checkbox] + label{
      background: #EEEEEE;
      border-bottom: 1px solid #fff;
      color: #333;
      cursor: pointer;
      font-size: 26px;
      font-weight: 800;
      line-height: 32px;
      padding: 10px 85px;
      position: relative;
      z-index: 2;
  }


  
  .accordion-module-container input[type=checkbox] + label:hover{ background: #D6D6D6; }
  .accordion-module-container input[type=checkbox]:checked + label{ background: #EEEEEE; }
  .accordion-module-container input[type=checkbox]:focus + label{ background: #BEBEBE; }
  .accordion-module-container input[type=checkbox]:checked + label:hover{ background: #D6D6D6; }
  .accordion-module-container input[type=checkbox]:checked + label:after{transform: rotate(90deg);}
  
  .accordion-module-container label {
      display: flex;
      justify-content: space-between;
      font-family: 'Montserrat';
      font-weight: 900;
      
      text-transform: uppercase;
  }
  
  
  .accordion-module-container input[type=checkbox] + label + .accordion-module-content{
    display: none;
    /* display: none; - Content is ignored by screen readers, additionally stops tabbing through hidden content */
    height: 0;
    max-height: 0;
    overflow: hidden;
    /* 0, 0, hidden; - Content is ignored by screen readers, but tab key still steps through hidden elements */
    transition: all 1.5s ease-in-out;
    margin-top: 20px;
  }
  .accordion-module-container input[type=checkbox]:checked + label + .accordion-module-content,
  .accordion-module-container input[type=radio]:checked + label + .accordion-module-content {
    display: block;
    height: auto;
    max-height: 2000px;
    transition: all 1.5s ease-in-out;
  }

  /*------------------------
 listing lecons
--------------------------*/

.accordion-lecon-container {
    text-align: left;
    margin: 10px auto 30px auto;
    position: relative;
    width: 100%;
  }
  .accordion-lecon-container input[type=checkbox]{
    background-color: transparent;
    border: 1px solid transparent;
    height: 1px;
    position: absolute;
    width: 1px;
    margin: 4px 0 0 0;
    outline: none;
  }
  .accordion-lecon-container input[type=checkbox] + label{
      background: #EEEEEE;
      border-bottom: 1px solid #fff;
      color: #333;
      cursor: pointer;
      font-size: 26px;
      font-weight: 800;
      line-height: 32px;
      padding: 10px 85px;
      position: relative;
      z-index: 2;
  }


  
  .accordion-lecon-container input[type=checkbox] + label:hover{ background: #D6D6D6; }
  .accordion-lecon-container input[type=checkbox]:checked + label{ background: #EEEEEE; }
  .accordion-lecon-container input[type=checkbox]:focus + label{ background: #BEBEBE; }
  .accordion-lecon-container input[type=checkbox]:checked + label:hover{ background: #D6D6D6; }
  .accordion-lecon-container input[type=checkbox]:checked + label:after{transform: rotate(90deg);}
  
  .accordion-lecon-container label {
      display: flex;
      justify-content: space-between;
      font-family: 'Montserrat';
      font-weight: 900;
      
      text-transform: uppercase;
  }
  
  
  .accordion-lecon-container input[type=checkbox] + label + .accordion-lecon-content{
    display: none;
    /* display: none; - Content is ignored by screen readers, additionally stops tabbing through hidden content */
    height: 0;
    max-height: 0;
    overflow: hidden;
    /* 0, 0, hidden; - Content is ignored by screen readers, but tab key still steps through hidden elements */
    transition: all 1.5s ease-in-out;
    margin-top: 20px;
  }
  .accordion-lecon-container input[type=checkbox]:checked + label + .accordion-lecon-content,
  .accordion-lecon-container input[type=radio]:checked + label + .accordion-lecon-content {
    display: block;
    height: auto;
    max-height: 2000px;
    transition: all 1.5s ease-in-out;
  }
